*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    
    background-color: thistle;
} */

main {
    margin-left: 150px;
}

.container {
    width: 20rem;
    margin: 2rem auto 2rem;
    display: grid;
    border-color: black;
    border: 1px;
}